scipy
torch
numpy>=2.0
scikit-learn
pandas
skorch
wfdb
einops
torchinfo
pydantic
torchaudio
linear-attention-transformer
rotary-embedding-torch
ipykernel
matplotlib
transformers[torch]
peft
ray[train]